<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Terraform Plan Report</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        li {
            font-size: 12;
            max-width: 45rem;
            margin: 1rem;
            padding: 1.5 1rem;
            box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
            border-radius: 0.25rem;
            overflow: hidden;
            background-color: white;
            min-height: 2rem;
            display: flex;
            align-items: center;
        }

        li>details {
            margin: 1rem;
        }

        .error {
            background-color: rgb(227, 89, 89);
        }

        .change {
            background-color: rgb(227, 172, 90);
        }

        .nochange {
            background-color: rgb(160, 250, 90);
        }
    </style>

</head>

<body>

    <h1>
        Environment: {{environment}}
    </h1>
    <h3>
        Number of modules {{moduleInfo.length}}
    </h3>
    <br><br>

    <ul>
        {{#each moduleInfo}}
        <li class="{{planResult this}}">
            <details>
                <summary>{{dir_name}}</summary>
                {{#each command_output}}
                <p>{{this}}</p>
                {{/each}}
            </details>
        </li>
        {{/each}}
    </ul>
</body>

</html>